@model Oauth2Server.Models.RegisteredClient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegisteredClient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientDomain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientDomain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientIcon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientIcon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedirectUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedirectUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
